[submodule "Sledge/vendor/spdlog"]
	path = Sledge/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Sledge/vendor/GLFW"]
	path = Sledge/vendor/GLFW
	url = https://github.com/etogood/glfw
[submodule "Sledge/vendor/imgui"]
	path = Sledge/vendor/imgui
	url = https://github.com/etogood/imgui
